---
---

@import index, font, basic, layout, classes

html
  background: lighten($dark, 70%)
  padding: 0 calc(48% - 22em)

body
  box-shadow: 0 0 .3em lighten($dark, 65%)

body > header, body > footer
  background: lighten($dark, 5%)
  color: $light
  backdrop-filter: blur(10px)  // Added background blur
  position: fixed
  width: 100%
  z-index: 1000

.menu-icon
  display: block
  cursor: pointer
  @media (min-width: 768px)
    display: none

nav
  display: none
  flex-direction: column
  background: lighten($dark, 10%)
  position: absolute
  top: 60px
  right: 0
  width: 200px
  border-radius: 5px
  z-index: 1001

  &.active
    display: flex

nav > a
  color: $light
  text-decoration: none
  font-weight: bold
  padding: 10px

@media (min-width: 768px)
  nav
    display: flex
    flex-direction: row
    position: static
    background: none
    width: auto

@media (min-width: 32em)
  body > header, body > article, body > footer
    padding: 1.75em calc(30% - 6em)

@media (prefers-color-scheme: dark)
  html
    background: darken($dark, 4%)
  body > header, body > footer
    background: $dark
  body, body > header, body > footer
    box-shadow: 0 0 0 1px lighten($dark, 8%)
