---
---

@import index, font, basic, layout, classes

@media (min-width: 40em)
  body > article, body > footer
    padding: 0 calc(28% - 12em)


{% if site.minimal %}

body > header
  background: $dark
  color: $light
  border-bottom: 3px solid reduce(14)
  position: fixed
  top: 0
  width: 100%
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px
  

{% else %}

body > header
  box-shadow: 0 0 .6em rgba($dark, 0.04)
  border-bottom: 1px solid reduce(14)
  

{% endif %}

body > footer
  box-shadow: 0 0 .6em rgba($dark, 0.04) inset
  border-top: 1px solid reduce(14)
  opacity: .9
body > blockquote, body > p, body > hr, body > ul
    padding: 0 20%
body > h1, body > h2, body > h3, body > h4, body > h5
    padding: 0 16%
body > h1
    border-left: 2px solid black
    font-size: 1.6rem
    display: grid
    place-items: center
    min-height: 200px
    border: 8px solid
    padding: 1rem
    border-image: linear-gradient(to left, turquoise, greenyellow) 1 0
body > blockquote
    margin-top: 100px
