$base-font-family: "Spectral", "Cormorant Garamond", "Palatino", "Times New Roman", serif !default;
$code-font-family: "Source Code Pro", "IBM Plex Mono", "Lucida Console", "Courier New", monospace !default;
$base-font-size:   18px !default;
$base-line-height: 1.75 !default;
$content-width:    960px !default;
$spacing-unit:     32px !default;
